// @import "basa-vue/dist/css/colors";

// $primary: $basa-primary-2;
// $secondary: $basa-primary-3;
// $accent: $basa-tertiary-1;
// $dark: $basa-grey-12;
// $positive: $basa-secondary-3;
// $negative: $basa-secondary-4;
// $info: $basa-grey-6;
// $warning: $basa-tertiary-2;

$basa-primary-1: #569f00 !default;
$basa-primary-2: #008B2E !default;
$basa-primary-3: #396406 !default;
$basa-primary-4: #dff1c9 !default;

$basa-secondary-1: #afd1ff;
$basa-secondary-2: #0d3872;
$basa-secondary-3: #2f80ed;
$basa-secondary-4: #da1a00;

$basa-tertiary-1: #f8d104;
$basa-tertiary-2: #ffef98;
$basa-tertiary-3: #decb64;
$basa-tertiary-4: #c0a30c;

$basa-grey-1: #ffffff;
$basa-grey-2: #f8f9fa;
$basa-grey-3: #f1f3f5;
$basa-grey-4: #e9ecef;
$basa-grey-5: #dee2e6;
$basa-grey-6: #ced4da;
$basa-grey-7: #adb5bd;
$basa-grey-8: #868e96;
$basa-grey-9: #495057;
$basa-grey-10: #343a40;
$basa-grey-11: #212529;
$basa-grey-12: #1d1d1d;
$basa-grey-13: #000000;